In [55]:
#import libraries
import pandas as pd
import numpy as np
import os

In [56]:
#folder path
path=r'C:\Users\oluwo\Downloads\Gun Violence Project Analysis 2025'

In [57]:
#load the data
df= pd.read_csv(os.path.join(path,'02. Data','Original Data', 'gun violence.csv'), index_col=False)

In [58]:
df.shape

(239677, 29)

In [59]:
#view first 5 rows
df.head(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [60]:
#view last 5 rows
df.tail(5)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
239672,1083142,2018-03-31,Louisiana,Rayne,North Riceland Road and Highway 90,0,0,http://www.gunviolencearchive.org/incident/108...,http://www.klfy.com/news/local/rayne-woman-cha...,False,...,0::25,0::Adult 18+,0::Female,0::Jhkeya Tezeno,NaN,"0::Unharmed, Arrested",0::Subject-Suspect,http://www.klfy.com/news/local/rayne-woman-cha...,NaN,NaN
239673,1083139,2018-03-31,Louisiana,Natchitoches,247 Keyser Ave,1,0,http://www.gunviolencearchive.org/incident/108...,http://www.ksla.com/story/37854648/man-wanted-...,False,...,1::21,0::Adult 18+||1::Adult 18+,0::Male||1::Male,0::Jamal Haskett||1::Jaquarious Tyjuan Ardison,NaN,"0::Killed||1::Unharmed, Arrested",0::Victim||1::Subject-Suspect,http://www.ksla.com/story/37854648/man-wanted-...,23.0,31.0
239674,1083151,2018-03-31,Louisiana,Gretna,1300 block of Cook Street,0,1,http://www.gunviolencearchive.org/incident/108...,http://www.nola.com/crime/index.ssf/2018/04/sh...,False,...,0::21,0::Adult 18+,0::Male,NaN,NaN,0::Injured,0::Victim,http://www.nola.com/crime/index.ssf/2018/04/sh...,85.0,7.0
239675,1082514,2018-03-31,Texas,Houston,12630 Ashford Point Dr,1,0,http://www.gunviolencearchive.org/incident/108...,https://www.chron.com/news/houston-texas/houst...,False,...,0::42,0::Adult 18+,0::Male,0::Leroy Ellis,NaN,0::Killed,0::Victim,http://www.khou.com/article/news/hpd-investiga...,149.0,17.0
239676,1081940,2018-03-31,Maine,Norridgewock,434 Skowhegan Rd,2,0,http://www.gunviolencearchive.org/incident/108...,https://www.centralmaine.com/2018/03/31/police...,False,...,0::58||1::62,0::Adult 18+||1::Adult 18+,0::Female||1::Male,0::Marie Lancaster Hale||1::William Hale,1::Significant others - current or former,0::Killed||1::Killed,0::Victim||1::Subject-Suspect,https://www.centralmaine.com/2018/03/31/police...,111.0,3.0

In [61]:
df.info

<bound method DataFrame.info of         incident_id        date           state city_or_county  \
0            461105  2013-01-01    Pennsylvania     Mckeesport
1            460726  2013-01-01      California      Hawthorne
2            478855  2013-01-01            Ohio         Lorain
3            478925  2013-01-05        Colorado         Aurora
4            478959  2013-01-07  North Carolina     Greensboro
...             ...         ...             ...            ...
239672      1083142  2018-03-31       Louisiana          Rayne
239673      1083139  2018-03-31       Louisiana   Natchitoches
239674      1083151  2018-03-31       Louisiana         Gretna
239675      1082514  2018-03-31           Texas        Houston
239676      1081940  2018-03-31           Maine   Norridgewock

                                          address  n_killed  n_injured  \
0       1506 Versailles Avenue and Coursin Street         0          4
1                    13500 block of Cerise Avenue         1          3
2                           1776 East 28th Street         1          3
3                16000 block of East Ithaca Place         4          0
4                       307 Mourning Dove Terrace         2          2
...                                           ...       ...        ...
239672         North Riceland Road and Highway 90         0          0
239673                             247 Keyser Ave         1          0
239674                  1300 block of Cook Street         0          1
239675                     12630 Ashford Point Dr         1          0
239676                           434 Skowhegan Rd         2          0

                                             incident_url  \
0       http://www.gunviolencearchive.org/incident/461105
1       http://www.gunviolencearchive.org/incident/460726
2       http://www.gunviolencearchive.org/incident/478855
3       http://www.gunviolencearchive.org/incident/478925
4       http://www.gunviolencearchive.org/incident/478959
...                                                   ...
239672  http://www.gunviolencearchive.org/incident/108...
239673  http://www.gunviolencearchive.org/incident/108...
239674  http://www.gunviolencearchive.org/incident/108...
239675  http://www.gunviolencearchive.org/incident/108...
239676  http://www.gunviolencearchive.org/incident/108...

                                               source_url  \
0       http://www.post-gazette.com/local/south/2013/0...
1       http://www.dailybulletin.com/article/zz/201301...
2       http://chronicle.northcoastnow.com/2013/02/14/...
3       http://www.dailydemocrat.com/20130106/aurora-s...
4       http://www.journalnow.com/news/local/article_d...
...                                                   ...
239672  http://www.klfy.com/news/local/rayne-woman-cha...
239673  http://www.ksla.com/story/37854648/man-wanted-...
239674  http://www.nola.com/crime/index.ssf/2018/04/sh...
239675  https://www.chron.com/news/houston-texas/houst...
239676  https://www.centralmaine.com/2018/03/31/police...

        incident_url_fields_missing  ...                    participant_age  \
0                             False  ...                              0::20
1                             False  ...                              0::20
2                             False  ...  0::25||1::31||2::33||3::34||4::33
3                             False  ...         0::29||1::33||2::56||3::33
4                             False  ...         0::18||1::46||2::14||3::47
...                             ...  ...                                ...
239672                        False  ...                              0::25
239673                        False  ...                              1::21
239674                        False  ...                              0::21
239675                        False  ...                              0::42
239676                        False  ...                       0::58||1::62

                                    participant_age_group  \
0       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
1       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
2       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
3       0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...
4       0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...
...                                                   ...
239672                                       0::Adult 18+
239673                         0::Adult 18+||1::Adult 18+
239674                                       0::Adult 18+
239675                                       0::Adult 18+
239676                         0::Adult 18+||1::Adult 18+

                                 participant_gender  \
0              0::Male||1::Male||3::Male||4::Female
1                                           0::Male
2       0::Male||1::Male||2::Male||3::Male||4::Male
3              0::Female||1::Male||2::Male||3::Male
4            0::Female||1::Male||2::Male||3::Female
...                                             ...
239672                                    0::Female
239673                             0::Male||1::Male
239674                                      0::Male
239675                                      0::Male
239676                           0::Female||1::Male

                                         participant_name  \
0                                          0::Julian Sims
1                                       0::Bernard Gillis
2       0::Damien Bell||1::Desmen Noble||2::Herman Sea...
3       0::Stacie Philbrook||1::Christopher Ratliffe||...
4       0::Danielle Imani Jameison||1::Maurice Eugene ...
...                                                   ...
239672                                   0::Jhkeya Tezeno
239673     0::Jamal Haskett||1::Jaquarious Tyjuan Ardison
239674                                                NaN
239675                                     0::Leroy Ellis
239676           0::Marie Lancaster Hale||1::William Hale

                         participant_relationship  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                       3::Family
...                                           ...
239672                                        NaN
239673                                        NaN
239674                                        NaN
239675                                        NaN
239676  1::Significant others - current or former

                                       participant_status  \
0       0::Arrested||1::Injured||2::Injured||3::Injure...
1           0::Killed||1::Injured||2::Injured||3::Injured
2       0::Injured, Unharmed, Arrested||1::Unharmed, A...
3              0::Killed||1::Killed||2::Killed||3::Killed
4            0::Injured||1::Injured||2::Killed||3::Killed
...                                                   ...
239672                              0::Unharmed, Arrested
239673                   0::Killed||1::Unharmed, Arrested
239674                                         0::Injured
239675                                          0::Killed
239676                               0::Killed||1::Killed

                                         participant_type  \
0       0::Victim||1::Victim||2::Victim||3::Victim||4:...
1       0::Victim||1::Victim||2::Victim||3::Victim||4:...
2       0::Subject-Suspect||1::Subject-Suspect||2::Vic...
3       0::Victim||1::Victim||2::Victim||3::Subject-Su...
4       0::Victim||1::Victim||2::Victim||3::Subject-Su...
...                                                   ...
239672                                 0::Subject-Suspect
239673                      0::Victim||1::Subject-Suspect
239674                                          0::Victim
239675                                          0::Victim
239676                      0::Victim||1::Subject-Suspect

                                                  sources  \
0       http://pittsburgh.cbslocal.com/2013/01/01/4-pe...
1       http://losangeles.cbslocal.com/2013/01/01/man-...
2       http://www.morningjournal.com/general-news/201...
3       http://denver.cbslocal.com/2013/01/06/officer-...
4       http://myfox8.com/2013/01/08/update-mother-sho...
...                                                   ...
239672  http://www.klfy.com/news/local/rayne-woman-cha...
239673  http://www.ksla.com/story/37854648/man-wanted-...
239674  http://www.nola.com/crime/index.ssf/2018/04/sh...
239675  http://www.khou.com/article/news/hpd-investiga...
239676  https://www.centralmaine.com/2018/03/31/police...

       state_house_district state_senate_district
0                       NaN                   NaN
1                      62.0                  35.0
2                      56.0                  13.0
3                      40.0                  28.0
4                      62.0                  27.0
...                     ...                   ...
239672                  NaN                   NaN
239673                 23.0                  31.0
239674                 85.0                   7.0
239675                149.0                  17.0
239676                111.0                   3.0

[239677 rows x 29 columns]>

In [62]:
df.dtypes

incident_id                      int64
date                            object
state                           object
city_or_county                  object
address                         object
n_killed                         int64
n_injured                        int64
incident_url                    object
source_url                      object
incident_url_fields_missing       bool
congressional_district         float64
gun_stolen                      object
gun_type                        object
incident_characteristics        object
latitude                       float64
location_description            object
longitude                      float64
n_guns_involved                float64
notes                           object
participant_age                 object
participant_age_group           object
participant_gender              object
participant_name                object
participant_relationship        object
participant_status              object
participant_type                object
sources                         object
state_house_district           float64
state_senate_district          float64
dtype: object

In [63]:
#Check missing values
df.isnull().sum()

incident_id                         0
date                                0
state                               0
city_or_county                      0
address                         16497
n_killed                            0
n_injured                           0
incident_url                        0
source_url                        468
incident_url_fields_missing         0
congressional_district          11944
gun_stolen                      99498
gun_type                        99451
incident_characteristics          326
latitude                         7923
location_description           197588
longitude                        7923
n_guns_involved                 99451
notes                           81017
participant_age                 92298
participant_age_group           42119
participant_gender              36362
participant_name               122253
participant_relationship       223903
participant_status              27626
participant_type                24863
sources                           609
state_house_district            38772
state_senate_district           32335
dtype: int64

## Dropping some columns that are less relevant to the purpose of the analysis

In [64]:
#Some variables have alot of missing values(>70%) and are not useful for this analysis. E.g. 'participant_name', 'participant_relationship.

#Some varibales don't have any missing values but are still not nedeed in this analysis. E.g. 'incident_url', incident_url_field_missing'

#variables like 'state_house_district', 'state_senate_district', 'congressional_district'  are too complicated to correct accurately.

#some variables have missing values but are useful in this analysis. E.g. 'address', 'gun_type', 'gun_stolen'

#i will start by dropping the variables that are not useful for the purpose of this analysis.

In [65]:
cols_to_drop = ['incident_url', 'incident_url_fields_missing', 'sources','participant_name', 'participant_age',
                'participant_relationship', 'location_description', 'state_house_district', 'state_senate_district', 'congressional_district']
df_new = df.drop(columns=cols_to_drop)

In [68]:
#check the new dataframe
df_new.shape

(239677, 19)

## Handle missing values

In [69]:
#check missing values in the new dataframe
df_new.isnull().sum()

incident_id                     0
date                            0
state                           0
city_or_county                  0
address                     16497
n_killed                        0
n_injured                       0
source_url                    468
gun_stolen                  99498
gun_type                    99451
incident_characteristics      326
latitude                     7923
longitude                    7923
n_guns_involved             99451
notes                       81017
participant_age_group       42119
participant_gender          36362
participant_status          27626
participant_type            24863
dtype: int64

In [76]:
#Fill missing values in categorical and texts columns with "Unknown"
cat_col = ['address', 'source_url', 'gun_stolen', 'gun_type','incident_characteristics', 'notes', 'participant_age_group',
            'participant_gender', 'participant_status', 'participant_type']
for col in cat_col:
    df_new[col] = df_new[col].fillna('Unknown')

#fill missing values in numrical columns with the median   
num_col= ['n_guns_involved']
for col in num_col:
    df_new[col] = df_new[col].fillna(df_new[col].median())

In [77]:
df_new.isnull().sum()

incident_id                    0
date                           0
state                          0
city_or_county                 0
address                        0
n_killed                       0
n_injured                      0
source_url                     0
gun_stolen                     0
gun_type                       0
incident_characteristics       0
latitude                    7923
longitude                   7923
n_guns_involved                0
notes                          0
participant_age_group          0
participant_gender             0
participant_status             0
participant_type               0
dtype: int64

## Handle Missing Coordinates

In [78]:
#Impute median latitude/longitude within each state
if 'longitude' in df_new.columns and 'latitude' in df_new.columns:
  df_new['longitude'] = df_new.groupby('state')['longitude'].transform(lambda x: x.fillna(x.median()))
df_new['latitude']  = df_new.groupby('state')['latitude'].transform(lambda x: x.fillna(x.median()))

In [79]:
#check the result 
df_new.isnull().sum()

incident_id                 0
date                        0
state                       0
city_or_county              0
address                     0
n_killed                    0
n_injured                   0
source_url                  0
gun_stolen                  0
gun_type                    0
incident_characteristics    0
latitude                    0
longitude                   0
n_guns_involved             0
notes                       0
participant_age_group       0
participant_gender          0
participant_status          0
participant_type            0
dtype: int64

## Handle Datatype

In [86]:
#convert 'n_guns_involved' column to integers because all the missing values has been fixed
df_new['n_guns_involved'] = df_new['n_guns_involved'].astype(int)

#convert date column to datetime format
df_new['date'] = pd.to_datetime(df_new['date'])

In [92]:
#check the result 
df_new.dtypes

incident_id                          int64
date                        datetime64[ns]
state                               object
city_or_county                      object
address                             object
n_killed                             int64
n_injured                            int64
source_url                          object
gun_stolen                          object
gun_type                            object
incident_characteristics            object
latitude                           float64
longitude                          float64
n_guns_involved                      int64
notes                               object
participant_age_group               object
participant_gender                  object
participant_status                  object
participant_type                    object
dtype: object

In [94]:
#checking for mixed-data type in the dataframe
for col in df_new.columns.tolist():
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_new[weird]) > 0:
    print (col)

C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\oluwo\AppData\Local\Temp\ipykernel_15968\3765087338.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_new[[col]].applymap(type) != df_new[[col]].iloc[0].apply(type)).any(axis = 1)

No mixed data type was found in the orders data frame

## Handle Duplicates

In [95]:
#check for duplicates
df_new[df_new.duplicated()]

Empty DataFrame
Columns: [incident_id, date, state, city_or_county, address, n_killed, n_injured, source_url, gun_stolen, gun_type, incident_characteristics, latitude, longitude, n_guns_involved, notes, participant_age_group, participant_gender, participant_status, participant_type]
Index: []

No duplicate was found.

In [96]:
#check the new dataframe columns
df_new.columns

Index(['incident_id', 'date', 'state', 'city_or_county', 'address', 'n_killed',
       'n_injured', 'source_url', 'gun_stolen', 'gun_type',
       'incident_characteristics', 'latitude', 'longitude', 'n_guns_involved',
       'notes', 'participant_age_group', 'participant_gender',
       'participant_status', 'participant_type'],
      dtype='object')

In [98]:
#check the statistic summary for numeric columns
df_new.describe()

,incident_id,date,n_killed,n_injured,latitude,longitude,n_guns_involved
count,2.396770e+05,239677,239677.000000,239677.000000,239677.000000,239677.000000,239677.000000
mean,5.593343e+05,2016-03-13 00:26:19.645940480,0.252290,0.494007,37.554747,-89.319724,1.217902
min,9.211400e+04,2013-01-01 00:00:00,0.000000,0.000000,19.111400,-171.429000,1.000000
25%,3.085450e+05,2015-03-07 00:00:00,0.000000,0.000000,33.911900,-94.118100,1.000000
50%,5.435870e+05,2016-04-05 00:00:00,0.000000,0.000000,38.587100,-86.248400,1.000000
75%,8.172280e+05,2017-04-03 00:00:00,0.000000,1.000000,41.448000,-80.052000,1.000000
max,1.083472e+06,2018-03-31 00:00:00,50.000000,53.000000,71.336800,97.433100,400.000000
std,2.931287e+05,NaN,0.521779,0.729952,5.132741,14.333861,3.583024

In [99]:
#export the clean dataframe
df_new.to_csv(os.path.join(path, '02. Data','Prepared Data', 'gun_violence_clean_dataset.csv'))